* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.item {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  background: rgba(246, 246, 254, 1);
  padding: 16px 0px 0px 0px;
  border-radius: 8px 8px 8px 8px;
}

.item-categories {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 40px;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgba(128, 128, 128, 1);
  margin-bottom: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  max-width: 1440px;
}

#name-input {
  width: 360px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 1);
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgba(128, 128, 128, 1);
}

.title-input {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.label-form {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(46, 47, 66, 1);
}
.input-form {
  width: 360px;
  height: 40px;
  border-radius: 4px 4px 4px 4px;
  border: 1px 1px 1px 1px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.btn-form {
  width: 86px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px 8px 16px;
  border-radius: 8px 8px 8px 8px;
  background: rgba(78, 117, 255, 1);
  margin-top: 8px;
}

.widget {
  width: 169px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.change-color {
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px 8px 16px;
  border-radius: 8px 8px 8px 8px;
  background: rgba(78, 117, 255, 1);
}

#controls {
  display: flex;
  gap: 16px;
  width: Hug (486px) px;
  height: Hug (104px) px;
  padding: 32px;
  border-radius: 8px 8px 8px 8px;
  background: rgba(246, 246, 254, 1);
  margin-bottom: 16px;
}

.input-controls {
  width: 150px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  /*padding: 8px 72px 8px 72px;*/
  border-radius: 8px 8px 8px 8px;
  border: 1px solid rgba(128, 128, 128, 1);
}

.btn-create-controls {
  width: 120px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px 8px 16px;
  border-radius: 8px 8px 8px 8px;
  background: rgba(78, 117, 255, 1);
}

.btn-destroy-controls {
  width: 120px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px 8px 16px;
  border-radius: 8px 8px 8px 8px;
  background: rgba(255, 78, 78, 1);
}

#boxes {
  display: flex;
  gap: 44px;
  padding: 32px;
  border-radius: 8px 8px 8px 8px;

  background: rgba(246, 246, 254, 1);
}
